.Site-title {
  display: flex;
  justify-content: center;
  align-content: center;
}

.NavBar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(114, 4, 4);
    width: auto;
  }
  
.NavBar-link {
  justify-content: space-between;
}
  
.NavBar-welcome {
  color: white;
}

.Logo {
  height: 3.5rem;
}