.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 7vmin auto;
}

.App-header {
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vmin;
  font-size: 2.5vmin;
  color: var(--background);
}

main {
  background-color: var(--background);
  background-image: url(https://i.imgur.com/sD6dC8T.jpg);
  justify-content: center;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
}

.App main h1 {
  color: var(--secondary-dark);
  margin-bottom: 5vmin;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  background-color: black;
  color: white;
  text-align: center;
  margin-bottom: 0;
}