.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 7vmin auto;
  background-image: url(https://i.imgur.com/CiEMGvU.jpg);
}

.App-header {
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vmin;
  font-size: 2.5vmin;
  color: var(--background);
}

.App main {
  background-color: var(--background);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.App main h1 {
  color: var(--secondary-dark);
  margin-bottom: 5vmin;
}

.footer {
  left: 0;
  bottom: 0;
  width: auto;
  /* height: auto;   */
  /* position: absolute; */
  background-color: black;
  color: white;
  text-align: center;
  margin-bottom: 0;
}